<!-- <app-canvas [canvasEl]="canvas"></app-canvas> -->
<!-- <canvas #canvas id="canvas"></canvas> -->



<!-- <div class="full-width-block">
	<div *ngIf="ifIOS" (click)="requestPermissionsIOS()"
		class="hidden-overlay" [ngClass]="{'hide': overlayClicked }">
	</div>
</div> -->

<div class="container">
  <h1>orientation</h1>
  <div>
    <p>message: <span>{{message}}</span> </p>
    <p>x: <span>{{alpha}}</span></p>
    <p>y: <span>{{beta}}</span></p>
    <p>z: <span>{{gamma}}</span></p>
  </div>

  <button *ngIf="isIOS && !overlayClicked" (click)="requestListenIOS()">enable ios</button>
</div>
